.App{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.Container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 3fr;
grid-template-areas: 
    "carddata maindeck search"
    "carddata maindeck lister"

;
}

.CardData, .MainDeck, .Search, .Lister{
    border: 1px solid black;
}

.CardData{
    grid-area: carddata;
}

.MainDeck{
    grid-area: maindeck;
    display: flex;
    flex-direction: column;
}

.Deck{
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    
}



.Search{
    grid-area: search;

}

.Lister{
    grid-area: lister;
    overflow-y: auto;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}

