.App{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    
}

*{
    font-family: 'Noto Sans JP', sans-serif;
}

.Container{
    height: 100%;
    width: 100%;
    display: grid;
    
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 2fr 1fr;
grid-template-areas: 
    "carddata maindeck search"
    "carddata maindeck options"
    "carddata maindeck lister"
    "carddata extradeck lister"
    

;
}

.CardData, .MainDeck, .Search, .Lister{
    border: 1px solid black;
}

.ExtraDeck{
    grid-area: extradeck;
}
.CardData{
    grid-area: carddata;
}

.Options{
    grid-area:options;
}


.MainDeck{
    grid-area: maindeck;
    display: flex;
    flex-direction: column;
}

.ExtraDeck {
    height: 100%;
}



.Deck{
    height: 100%;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
    img{
        object-fit: cover;
     width: 100%;
    }
    
}

.extraDeck{
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(10, 1fr);
    gap: 5px;
    img{
        object-fit: cover;
        width: 100%;
    }
    
}
.cardItem

.Search{
    grid-area: search;

}

.cardItem{
    object-fit: cover;
    max-width: 120px;
    width: 100%;
    img{
        width: 100%;
    }
}

.Lister{
    padding: 8px;
    grid-area: lister;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    
}

.Lister > div {

        padding: 0 5px
    
}

