

$margin-between-sections: 14px;
$nav-height: 65px;
$footer-height: 35px;
$app-sections-font-size: 15px;

$area-title-height: 36px;


$bg-color: #000;
$text-color: #fff;
$btn-color: #fff;
$border-color: #f2f2f2;
$links-color: #eb4034;

.app{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 0px 20px 0px 20px;
    background-color: $bg-color;
    color: $text-color
    
}

*{
    font-family: 'Noto Sans JP', sans-serif;
    //font-family: 'ITC Stone';
}

#appNavbar{
    min-height: $nav-height;
    button{
        cursor: pointer;
    }
    font-size: 15px;
}

footer{
    min-height: $footer-height;
    line-height: $footer-height;
}

.appSections{
    min-height: calc(100% - $nav-height - $footer-height);
    width: 100%;
    display: flex;
    font-size: $app-sections-font-size;
}

.cardInfo{
    max-height: 100%;
    overflow: auto;
    width: 21%;
    margin-right: $margin-between-sections;
}

.decks{
    height: calc(100% - $margin-between-sections); // 10px margin sections
    width: 55%;
}

.cardsSearch{
    width: 24%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: $margin-between-sections;

}

.area{
    border: 1px solid $border-color;
}

#main-deck{
    height: 75%;
    margin-bottom: $margin-between-sections;
}

#extra-deck{
    height: 25%;
}

#extra-deck .flex-mode{
    display: flex;
    width: 100%;
    .card{
        max-width: 98px;
    }
    .card:not(:first-child){
        margin-left: calc(-3%);
    }


}

#extra-deck .grid-mode {
    display: grid;
    gap: 5px;
    width: 100%;
    grid-template-columns: repeat(10, 1fr);
    img{
        object-fit: cover;
    }
}


.Search{
    grid-area: search;

}

.cardItem{
    object-fit: cover;
    max-width: max-content;
    img{
        width: 100%;
    }
}



.area-title{
    height: $area-title-height;
    border-bottom: 1px solid $border-color;
}

.hover-link{
    cursor: pointer;
    position: relative;
    color: $links-color
}

.hover-link::after{
    content: '';
    position: absolute;
    width: 0; 
    height: 1px;
    left: 0;
    bottom: 0;
    background-color: #fff;
    transition: width 0.3s;
}

.hover-link:hover:after{
    width: 100%;
}


.Search{
    margin: 8px;
    input{
        border: 1px solid $border-color;
        width: 100%;
        
    }
    input::placeholder{
        color: $text-color;
        opacity: 0.75
    }
    .search-filters{
        margin-top: 6px;
        .filters-container{
            margin-top: 6px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            select{
                background-color: $btn-color;
                color: $bg-color;
            }
        }
    }
    
    .filter-option{
        display: flex;
        align-items: center;
        gap: 8px;
    }


}

.CardsList{
    margin: 8px;

}